html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: #c4c4c4;
}

h1 {
  font-family: serif;
  font-size: 20px;
  font-weight: bolder;
}

h2 {
  font-family: serif;
  font-size: 19px;
  font-weight: bold;
}

legend {
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
}

label {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
}

p {
  font-family: serif;
  font-size: 16px;
  font-weight: normal;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  height: 50px;
  width: 100%;
  background: #111111;
  color: #f4f4f4;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.call-to-action {
  text-align: center;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #111111;
}
.call-to-action p {
  padding: 10px 0 10px 0;
}

.contact-info {
  border-top: 2px solid #111111;
  margin-top: 2px;
  width: 100%;
}
.contact-info legend {
  padding: 20px 0 20px 0;
}
.contact-info .field {
  padding-bottom: 10px;
}
.contact-info .field input, .contact-info .field select {
  color: #f4f4f4;
  width: 100%;
  height: 50px;
  background: #444444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
}
.contact-info .field input:-moz-placeholder, .contact-info .field select:-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.contact-info .field input::-moz-placeholder, .contact-info .field select::-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.contact-info .field input:-ms-input-placeholder, .contact-info .field select:-ms-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.contact-info .field input::-webkit-input-placeholder, .contact-info .field select::-webkit-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.contact-info .field input.zip {
  width: 50%;
}

.newsletter {
  border-top: 2px solid #111111;
  margin-top: 10px;
  width: 100%;
}
.newsletter p {
  padding-bottom: 10px;
}
.newsletter p:nth-of-type(2), .newsletter p:nth-of-type(3) {
  padding-top: 10px;
}
.newsletter .label-text {
  position: absolute;
  left: 35px;
  margin-top: 3px;
}
.newsletter .format-text {
  display: inline-block;
}
.newsletter legend {
  padding: 20px 0 20px 0;
}
.newsletter input[type=checkbox] {
  display: none;
}
.newsletter input[type=checkbox] + label {
  background: url("../images/checkbox_unchecked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
}
.newsletter input[type=checkbox]:checked + label {
  background: url("../images/checkbox_checked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
}
.newsletter input[type="radio"] {
  display: none;
}
.newsletter input[type="radio"] + label {
  background: url("../images/radio_unchecked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
}
.newsletter input[type="radio"]:checked + label {
  background: url("../images/radio_checked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
}
.newsletter textarea {
  color: #f4f4f4;
  width: 100%;
  height: 100px;
  background: #444444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
}
.newsletter textarea:-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.newsletter textarea::-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.newsletter textarea:-ms-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}
.newsletter textarea::-webkit-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
  text-align: right;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #ae0015;
  color: #f4f4f4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  text-align: center;
}
footer p {
  font-size: 17.6px;
  font-style: italic;
}
