/*********************************
IMPORTING COMPASS AND RESET
**********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: #c4c4c4;
  -moz-transition: background 5s ease;
  -o-transition: background 5s ease;
  -webkit-transition: background 5s ease;
  transition: background 5s ease;
}
@media (min-width: 760px) {
  html, body {
    background: #848484;
  }
}

/*********************************
H1 ONLY USED IN BANNER
**********************************/
h1 {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 760px), only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

/*********************************
H2 ONLY USED IN CTA
**********************************/
h2 {
  font-family: "Patua One", serif;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 760px), only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

/*********************************
LEGENDS USED IN FIELDSET LEGENDS
**********************************/
legend {
  font-family: "Patua One", serif;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 760px), only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  legend {
    font-size: 20px;
  }
}

/*********************************
LABELS
**********************************/
label {
  font-family: "Patua One", serif;
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
}
@media (min-width: 760px), only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  label {
    font-size: 17px;
    display: inline-block;
    padding-top: 15px;
  }
}

/*********************************
ALL THE FLUFF TEXT
**********************************/
p {
  font-family: "Patua One", serif;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 760px), only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  p {
    font-size: 17px;
  }
}

/*********************************
CONTENT WRAPPER - WRAPS FORM AND CTA
**********************************/
.content-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 760px) {
  .content-wrapper {
    width: 760px;
  }
}

/*********************************
TOP BANNER STYLES
**********************************/
.banner {
  height: 80px;
  width: 100%;
  background: #111111;
  color: #f4f4f4;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.call-to-action {
  text-align: center;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #111111;
}
.call-to-action p {
  padding: 10px 0 10px 0;
}

/*********************************
FORM STYLES
**********************************/
legend {
  padding: 20px 0 20px 0;
}

.contact-info {
  border-top: 2px solid #111111;
  margin-top: 2px;
  width: 100%;
}
.contact-info .required-asterisk {
  color: #ae0015;
}
.contact-info .field {
  padding-bottom: 10px;
  /*********************************
  SELECT & OPTION STYLES
  **********************************/
}
.contact-info .field input, .contact-info .field select {
  font-family: "Patua One", serif;
  font-size: 17px;
  color: #f4f4f4;
  width: 100%;
  height: 50px;
  background: #444444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.contact-info .field input:focus, .contact-info .field select:focus {
  background: #5e5e5e;
}
.contact-info .field input:-moz-placeholder, .contact-info .field select:-moz-placeholder {
  font-size: 15px;
  color: #5e5e5e;
  font-style: italic;
  text-align: right;
  padding-right: 4px;
}
@media (min-width: 270px) {
  .contact-info .field input:-moz-placeholder, .contact-info .field select:-moz-placeholder {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input:-moz-placeholder, .contact-info .field select:-moz-placeholder {
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .contact-info .field input:-moz-placeholder, .contact-info .field select:-moz-placeholder {
    font-size: 19px;
  }
}
.contact-info .field input::-moz-placeholder, .contact-info .field select::-moz-placeholder {
  font-size: 15px;
  color: #5e5e5e;
  font-style: italic;
  text-align: right;
  padding-right: 4px;
}
@media (min-width: 270px) {
  .contact-info .field input::-moz-placeholder, .contact-info .field select::-moz-placeholder {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input::-moz-placeholder, .contact-info .field select::-moz-placeholder {
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .contact-info .field input::-moz-placeholder, .contact-info .field select::-moz-placeholder {
    font-size: 19px;
  }
}
.contact-info .field input:-ms-input-placeholder, .contact-info .field select:-ms-input-placeholder {
  font-size: 15px;
  color: #5e5e5e;
  font-style: italic;
  text-align: right;
  padding-right: 4px;
}
@media (min-width: 270px) {
  .contact-info .field input:-ms-input-placeholder, .contact-info .field select:-ms-input-placeholder {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input:-ms-input-placeholder, .contact-info .field select:-ms-input-placeholder {
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .contact-info .field input:-ms-input-placeholder, .contact-info .field select:-ms-input-placeholder {
    font-size: 19px;
  }
}
.contact-info .field input::-webkit-input-placeholder, .contact-info .field select::-webkit-input-placeholder {
  font-size: 15px;
  color: #5e5e5e;
  font-style: italic;
  text-align: right;
  padding-right: 4px;
}
@media (min-width: 270px) {
  .contact-info .field input::-webkit-input-placeholder, .contact-info .field select::-webkit-input-placeholder {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input::-webkit-input-placeholder, .contact-info .field select::-webkit-input-placeholder {
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .contact-info .field input::-webkit-input-placeholder, .contact-info .field select::-webkit-input-placeholder {
    font-size: 19px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input, .contact-info .field select {
    height: 80px;
  }
}
@media (min-width: 760px) {
  .contact-info .field input, .contact-info .field select {
    height: 50px;
    display: inline-block;
    width: 70%;
    float: right;
    clear: both;
  }
}
.contact-info .field input.zip {
  width: 50%;
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .contact-info .field input.zip {
    display: block;
  }
}
@media (min-width: 760px) {
  .contact-info .field input.zip {
    display: inline-block;
    position: absolute;
    margin-left: 158px;
    width: 180px;
  }
}
.contact-info .field select.planet-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-style: italic;
  background: url("../images/dropdown_arrow.svg") no-repeat #444444;
  background-size: 60px 30px;
  background-position: 100% 50%;
  cursor: pointer;
  color: #c4c4c4;
}
.contact-info .field select.planet-dropdown option {
  font-style: normal;
  color: #c4c4c4;
}
@media (min-width: 760px) {
  .contact-info .field {
    height: 80px;
  }
}

/*********************************
NEWSLETTER DIV WRAPPER
**********************************/
.newsletter {
  border-top: 2px solid #111111;
  margin-top: 10px;
  width: 100%;
}
.newsletter p {
  padding-bottom: 10px;
}
.newsletter p:nth-of-type(2), .newsletter p:nth-of-type(3), .newsletter p:nth-of-type(4) {
  padding-top: 10px;
}
.newsletter .label-text {
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 2px 0 0 25px;
  font-size: 16px;
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .newsletter .label-text {
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .newsletter .label-text {
    font-size: 19px;
  }
}
.newsletter input[type=checkbox] {
  display: none;
}
.newsletter input[type=checkbox] + label {
  cursor: pointer;
  background: url("../images/checkbox_unchecked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.newsletter input[type=checkbox]:checked + label {
  cursor: pointer;
  background: url("../images/checkbox_checked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.newsletter input[type=checkbox]:checked + label .label-text {
  text-decoration: underline;
}
.newsletter input[type="radio"] {
  display: none;
}
.newsletter input[type="radio"] + label {
  cursor: pointer;
  background: url("../images/radio_unchecked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.newsletter input[type="radio"]:checked + label {
  cursor: pointer;
  background: url("../images/radio_checked.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.newsletter input[type="radio"]:checked + label .label-text {
  text-decoration: underline;
}
.newsletter textarea {
  font-family: "Patua One", serif;
  font-size: 15px;
  color: #f4f4f4;
  width: 100%;
  height: 100px;
  background: #444444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.newsletter textarea:-moz-placeholder {
  color: #5e5e5e;
  font-style: italic;
  text-align: left;
}
.newsletter textarea::-moz-placeholder {
  color: #5e5e5e;
  font-style: italic;
  text-align: left;
}
.newsletter textarea:-ms-input-placeholder {
  color: #5e5e5e;
  font-style: italic;
  text-align: left;
}
.newsletter textarea::-webkit-input-placeholder {
  color: #5e5e5e;
  font-style: italic;
  text-align: left;
}
.newsletter textarea:focus {
  background: #5e5e5e;
}
@media (min-width: 270px) {
  .newsletter textarea {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .newsletter textarea {
    height: 150px;
    font-size: 20px;
  }
}
@media (min-width: 760px) {
  .newsletter textarea {
    height: 100px;
    font-size: 19px;
  }
}

/*********************************
SUBMIT BUTTON
**********************************/
input[type="submit"] {
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 19px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  background: #ae0015;
  color: #f4f4f4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
input[type="submit"]:hover {
  background: #e1001b;
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px), only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  input[type="submit"] {
    height: 80px;
    font-size: 22px;
  }
}
@media (min-width: 760px) {
  input[type="submit"] {
    height: 60px;
    font-size: 20px;
  }
}

/*********************************
DEFINITELY NOT FOOTER STYLES
**********************************/
footer {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  text-align: center;
}
footer p {
  font-size: 15px;
  font-style: italic;
}
