/*********************************
CONTENT WRAPPER - WRAPS FORM AND CTA
**********************************/
.content-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media #{$break-760} {
    width: 760px;
  }
}