/*********************************
IMPORTING COMPASS AND RESET
**********************************/
@import 'compass';
@import 'compass/reset';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: $base-font-size;
  background: $color-style-gray;
}

h1 {
  font-family: $cursive-stack;
  font-size: $base-font-size + 4;
  font-weight: 700;
}

h2 {
  font-family: $serif-stack;
  font-size: $base-font-size + 2;
  font-weight: bold;
}

legend {
  font-family: $serif-stack;
  font-size: $base-font-size + 2;
  font-weight: bold;
}

label {
  font-family: $serif-stack;
  display: block;
  padding-bottom: 5px;
  font-size: $base-font-size;
}

p {
  font-family: $serif-stack;
  font-size: $base-font-size;
  font-weight: normal;
}