/*********************************
IMPORTING COMPASS AND RESET
**********************************/
@import 'compass';
@import 'compass/reset';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: $base-font-size;
  background: $color-style-gray;
  @include single-transition(background, 5s, ease);
  @media #{$break-760} {
    background: $color-style-gray-minus-25;
  }
}
/*********************************
H1 ONLY USED IN BANNER
**********************************/
h1 {
  font-family: $cursive-stack;
  font-size: $base-font-size + 4;
  font-weight: 700;
  @media #{$break-760, $break-760-tab} {
    font-size: $base-font-size + 8;
  }
}
/*********************************
H2 ONLY USED IN CTA
**********************************/
h2 {
  font-family: $serif-stack;
  font-size: $base-font-size + 2;
  font-weight: bold;
  @media #{$break-760, $break-760-tab} {
    font-size: $base-font-size + 4;
  }
}
/*********************************
LEGENDS USED IN FIELDSET LEGENDS
**********************************/
legend {
  font-family: $serif-stack;
  font-size: $base-font-size + 2;
  font-weight: bold;
  @media #{$break-760, $break-760-tab} {
    font-size: $base-font-size + 4;
  }
}
/*********************************
LABELS
**********************************/
label {
  font-family: $serif-stack;
  display: block;
  padding-bottom: 5px;
  font-size: $base-font-size;
  @media #{$break-760, $break-760-tab} {
    font-size: $base-font-size + 1;
    display: inline-block;
    padding-top: 15px;
  }
}
/*********************************
ALL THE FLUFF TEXT
**********************************/
p {
  font-family: $serif-stack;
  font-size: $base-font-size;
  font-weight: normal;
  @media #{$break-760, $break-760-tab} {
    font-size: $base-font-size + 1;
  }
}