// colours
$color-base-white : #f4f4f4; // white colour used in font
$color-bg-dark : #011826; // dark bg colour

// fonts
$base-font-size : 16px;

// font stacks
$serif-stack : serif;
$sans-stack : sans-serif;