.banner {
  height: 50px;
  width: 100%;
  background: $color-base-black;
  color: $color-base-white;
  @include display-flex();
  @include flex-wrap(nowrap);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}