/*********************************
FORM STYLES
**********************************/
legend {
  padding: 20px 0 20px 0;
}
.contact-info {
  border-top: 2px solid $color-base-black;
  margin-top: 2px;
  width: 100%;
  .required-asterisk {
    color: $color-style-red;
  }
  .field {
    padding-bottom: 10px;
    input, select {
      font-family: $serif-stack;
      font-size: $base-font-size + 1;
      color: $color-base-white;
      width: 100%;
      height: 50px;
      background: $color-style-dark-gray;
      @include border-radius();
      border: none;
      padding: 5px 10px 5px 10px;
      @include single-transition(all, 300ms, ease);
      &:focus {
        background: $color-style-dark-gray-plus-10;
      }
      @include input-placeholder {
        font-size: $base-font-size - 1;
        color: $color-style-dark-gray-plus-10;
        font-style: italic;
        text-align: right;
        padding-right: 4px;
        @media #{$break-270} {
          font-size: $base-font-size + 2;
        }
        @media #{$break-760-tab} {
          font-size: $base-font-size + 4;
        }
        @media #{$break-760} {
          font-size: $base-font-size + 3;
        }
      }
      @media #{$break-760-tab} {
        height: 80px;
      }
      @media #{$break-760} {
        height: 50px;
        display: inline-block;
        width: 70%;
        float: right;
        clear: both;
      }
    }
    & input.zip {
      width: 50%;
      @media #{$break-760-tab} {
        display: block;
      }
      @media #{$break-760} {
        display: inline-block;
        position: absolute;
        margin-left: 158px;
        width: 180px;
      }
    }
    /*********************************
    SELECT & OPTION STYLES
    **********************************/
    select.planet-dropdown {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      font-style: italic;
      background: url('../images/dropdown_arrow.svg') no-repeat $color-style-dark-gray;
      background-size: 60px 30px;
      background-position: 100% 50%;
      cursor: pointer;
      color: $color-style-gray;
      option {
        font-style: normal;
        color: $color-style-gray;
      }
    }
    @media #{$break-760} {
      height: 80px
    }
  }
}
/*********************************
NEWSLETTER DIV WRAPPER
**********************************/
.newsletter {
  border-top: 2px solid $color-base-black;
  margin-top: 10px;
  width: 100%;
  p {
    padding-bottom: 10px;
    &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
      padding-top: 10px;
    }
  }
  .label-text {
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    padding: 2px 0 0 25px;
    font-size: $base-font-size;
    @media #{$break-760-tab} {
      font-size: $base-font-size + 4;
    }
    @media #{$break-760} {
      font-size: $base-font-size + 3;
    }
  }
  input[type=checkbox] {
    display: none;
    & + label {
      cursor: pointer;
      background: url('../images/checkbox_unchecked.svg') no-repeat;
      height: 20px;
      width: 20px;
      display: inline-block;
      padding: 0;
      @include single-transition(all, 300ms, ease);
    }
    &:checked + label {
      cursor: pointer;
      background: url('../images/checkbox_checked.svg') no-repeat;
      height: 20px;
      width: 20px;
      display: inline-block;
      padding: 0;
      text-decoration: none;
      @include single-transition(all, 300ms, ease);
      .label-text {
        text-decoration: underline;
      }
    }
  }
  input[type="radio"] {
    display: none;
    & + label {
      cursor: pointer;
      background: url('../images/radio_unchecked.svg') no-repeat;
      height: 20px;
      width: 20px;
      display: inline-block;
      padding: 0;
      @include single-transition(all, 300ms, ease);
    }
    &:checked + label {
      cursor: pointer;
      background: url('../images/radio_checked.svg') no-repeat;
      height: 20px;
      width: 20px;
      display: inline-block;
      padding: 0;
      text-decoration: none;
      @include single-transition(all, 300ms, ease);
      .label-text {
        text-decoration: underline;
      }
    }
  }
  textarea {
    font-family: $serif-stack;
    font-size: $base-font-size - 1;
    color: $color-base-white;
    width: 100%;
    height: 100px;
    background: $color-style-dark-gray;
    @include border-radius();
    border: none;
    padding: 5px 10px 5px 10px;
    @include input-placeholder {
      color: $color-style-dark-gray-plus-10;
      font-style: italic;
      text-align: left;
    }
    @include single-transition(all, 300ms, ease);
    &:focus {
      background: $color-style-dark-gray-plus-10;
    }
    @media #{$break-270} {
      font-size: $base-font-size + 2;
    }
    @media #{$break-760-tab} {
      height: 150px;
      font-size: $base-font-size + 4;
    }
    @media #{$break-760} {
      height: 100px;
      font-size: $base-font-size + 3;
    }
  }
}
/*********************************
SUBMIT BUTTON
**********************************/
input[type="submit"] {
  cursor: pointer;
  font-family: $cursive-stack;
  font-size: $base-font-size + 3;
  font-weight: 700;
  width: 100%;
  height: 60px;
  background: $color-style-red;
  color: $color-base-white;
  @include border-radius();
  border: none;
  margin-top: 20px;
  @include single-transition(all, 300ms, ease);
  &:hover {
    background: $color-style-red-plus-10;
  }
  @media #{$break-760-tab} {
    height: 80px;
    font-size: $base-font-size + 6;
  }
  @media #{$break-760} {
    height: 60px;
    font-size: $base-font-size + 4;
  }
}